* {
    font-family: 'Raleway', sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
}

.mainPicture {
    background-image: url(pics/bg.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 19rem;
    margin: -10px -10px 30px -10px !important;
}

#name {
    color: black;
    font-size: 6.25rem;
    text-align: center;
    padding-top: 130px;
    text-shadow: 0px 0px 8px white;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;   
    align-items: center;
    height: 3rem; 
    background: rgb(31, 31, 31);
    margin: -30px -10 0 -10;
    box-shadow: 0px 9px 20px black;
    position: relative;
    z-index: 1;
}

.navbarLinks:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(39, 39, 39);
}

.leftBox {
    background-color: rgb(30, 30, 30);
    width: 15rem;
    height: 35rem;
    margin: -3rem 0rem 0 -1rem;
    float: left;
    z-index: 3;
    box-shadow: 1px 8px 30px 4px black inset;
}

.socialsbox {
    margin: 4.1rem 1.8rem;
    border: .1rem;
    border-style: solid;
    border-color: black;
    height: 40%;
    width: 7.5rem;
    padding: 4rem 2rem;
    background: #1b1b1b;
    box-shadow: -1px 1px 9px 1px rgb(0, 0, 0);
}

.socialselements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    height: 120%;
}

.socialLinks {
    font-family: 'Lexend Peta', sans-serif; 
    font-size: .9rem;
    color: #424242;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -3rem;
    width: 8.5rem;
}

.githublogo, .linkedinlogo, .twitterlogo {
    padding-right: 1rem;
    margin-left: -3rem;
}

.rightBox {
    background-color: rgb(30, 30, 30);
    width: 15rem;
    height: 35rem;
    margin: -3rem -1rem 0 0;
    float: right;
    position: static;
    z-index: 2;
    box-shadow: -1px 8px 30px 4px black inset;
}

.mainContactBox {
    width: 55rem;
    height: 25rem;
    margin: 2rem auto;
    margin-bottom: 4rem;
    box-shadow: -1px 1px 12px 1px rgb(0, 0, 0);  
    border-color: black; 
    border-style: solid;
    background-color: rgb(121, 121, 121);
}

.mainContactForm {
    display: inline-flex;
    flex-direction: column;
    margin-top: 3.2rem;
    padding-left: 4rem;
}

.mainContactText {
    float: right;
    height: 10rem;
    width: 20rem;
    padding: 7.5rem 4rem;
    text-align: center;
}

.name {
    display: block;
    width: 16rem;
    height: 2.5rem;
    border: 3px rgb(48, 48, 48);
    border-style: solid;
    background-color: rgb(185, 185, 185);
    font-size: 1rem;
    color: black;
}

.name:focus {
    outline: none;
}

::placeholder {
    color: rgb(73, 73, 73)
}

.message {
    height: 10rem;
    width: 23rem;
    border: 3px rgb(48, 48, 48);
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(185, 185, 185);
    margin-top: 2rem;
    color: black;
}

.message:focus {
    outline: none;
}

.submit {
    display: block;
    height: 2rem;
    width: 5.5rem;
    margin-top: 2rem;
    margin-left: 17.4rem;
    border: 3px rgb(48, 48, 48);
    border-style: solid;
    border-radius: 2px;
    color: black;
}

.submit:hover {
    cursor: pointer;
}

.finePrint {
    font-size: .8rem;
}

.footer {
    width: 103%;
    height: 5rem;
    background-color: rgb(29, 28, 28);
    margin-left: -2rem;
    margin-bottom: -2rem;
    display: inline-flex;
    justify-content: space-between; 
    align-content: center;
    flex-wrap: wrap;
}

.footerLeft {
    width: 30%;
    display: inline-flex;
    justify-content: space-evenly;
    align-self: center;
    padding-left: 3rem;
    text-decoration: none;
}

.footerRight {
    width: 20rem;
    display: inline-flex;
    justify-content: space-around; 
    align-self: center; 
    padding-right: 3rem;
}

.about {
    text-decoration: none;
}

.about:hover {
    text-decoration: underline;
}